html, body {    
    /*overflow: hidden; */
    font-family: "Trebuchet MS", sans-serif;
    background-color: #FFE4C4;
    color:#A0522D;
}

img.displayed {
    width: 100%;
    position: absolute;
    top: 20;
    left: 0;
}



header .topbar {
    position: relative;
    height: auto;
}

header .topbar-inner {
    min-width: 944px;
    height: 56px;
    background-color: #D18763;

}

header .topbar-inner .container {
    padding: 0.6em 0;
    padding-top: 0.6em;
    padding-right: 0px;
    padding-bottom: 0.6em; 
    padding-left: 0px; 

}

header .topbar div > ul, .nav {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    left: 0;
}

header .topbar-inner li a {
    border-radius: 8px;
    font-size: 14px;
    padding: 11px 11px 10px;

}

header .topbar div > ul a, .nav a {
    display: block;
    float: none;
    line-height: 19px
    text-decoration: none;
    color: #FFE4E1;
}

header .topbar div > ul > li, .nav > li {
    display: block;
    float: left;
}

